@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Shadows+Into+Light&family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar {
  background-color: black !important;
}
.navbar-brand {
  color: white !important;
}
.nav-link {
  color: white !important;
}

.navbar-nav {
  margin-left: auto !important;
}

.smallimg {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-size: 20px;
}
